@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia, serif;
  // font-family: Garamond, serif;
}

//
* {
  transition: ease-in-out 0.2s;
}

// variables
$base-color: #4c0203;
$base-rgb: rgb(76, 2, 3);

/* loader */
.loader {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(151, 206, 238);
  border-bottom: 3px solid rgb(6, 105, 163);
  animation: 2s infinite loader;
}

// normal css
.table_content:hover {
  background-color: rgba(76, 2, 3, 0.1);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* container */
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1500px) {
  .container {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
